In [1]:
import csv

In [2]:
usertable = open('usertable.csv','r')
rdr = csv.reader(usertable)
user = []
for row in rdr:
    user.append(tuple(row))

In [3]:
user

[('2020-20826', 'jaehwan lim'),
 ('2020-11111', 'test1'),
 ('2020-11112', 'test2'),
 ('2020-11113', 'test3'),
 ('2020-11114', 'test4'),
 ('2020-11115', 'test5')]

In [4]:
usertable.close()

In [5]:
clustertable = open('clustertable.csv','r')
reader = csv.reader(clustertable)
cluster = []
for row in reader:
    cluster.append(tuple(map(int,row)))

In [6]:
for row in reader:
    cluster.append(tuple(map(int,row)))

In [7]:
cluster

[(1, 6, 0),
 (2, 3, 0),
 (3, 3, 0),
 (4, 6, 0),
 (5, 6, 0),
 (1001, 6, 0),
 (1002, 3, 0)]

In [8]:
clustertable.close()

In [16]:
seattable = open('seattable.csv','r')
reader1= csv.reader(seattable)
seat = []
conv = lambda i : i or None
for row in reader1:
    try:
        seat.append(((int(row[0]),conv(row[1]),int(conv(row[2])))))
    except TypeError:
        seat.append(((int(row[0]),conv(row[1]),conv(row[2]))))

In [10]:
cluster[0]= None

In [17]:
int(seat[0][1])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [18]:
seat

[(1, None, None),
 (2, None, None),
 (3, None, None),
 (4, None, None),
 (5, None, None),
 (1001, None, None),
 (1002, None, None),
 (1003, '2', 1)]

In [18]:
import sqlite3
import csv

In [19]:
conn = sqlite3.connect('test.db')

In [20]:
c = conn.cursor()

In [21]:
import random

In [22]:
emy1 = []
for row in c.execute('SELECT * from cluster'):
    emy1.append(row)

In [23]:
emy1

[(1, 3, 0),
 (2, 3, 0),
 (3, 6, 0),
 (4, 6, 0),
 (5, 6, 0),
 (6, 6, 0),
 (7, 3, 0),
 (8, 3, 0),
 (9, 6, 0),
 (10, 6, 0),
 (11, 3, 0),
 (1001, 3, 0),
 (1002, 3, 0),
 (1003, 6, 0),
 (1004, 6, 0),
 (1005, 6, 0),
 (1006, 6, 0),
 (1007, 6, 0),
 (1008, 3, 0)]

In [24]:
emy2 = []
for row in c.execute('SELECT * from seat'):
    emy2.append(row)

In [25]:
emy2

[(1, None, 1),
 (2, None, 1),
 (3, None, 1),
 (4, None, 2),
 (5, None, 2),
 (6, None, 2),
 (7, None, 3),
 (8, None, 3),
 (9, None, 3),
 (10, None, 3),
 (11, None, 3),
 (12, None, 3),
 (13, None, 4),
 (14, None, 4),
 (15, None, 4),
 (16, None, 4),
 (17, None, 4),
 (18, None, 4),
 (19, None, 5),
 (20, None, 5),
 (21, None, 5),
 (22, None, 5),
 (23, None, 5),
 (24, None, 5),
 (25, None, 6),
 (26, None, 6),
 (27, None, 6),
 (28, None, 6),
 (29, None, 6),
 (30, None, 6),
 (31, None, 7),
 (32, None, 7),
 (33, None, 7),
 (34, None, 8),
 (35, None, 8),
 (36, None, 8),
 (37, None, 9),
 (38, None, 9),
 (39, None, 9),
 (40, None, 9),
 (41, None, 9),
 (42, None, 9),
 (43, None, 10),
 (44, None, 10),
 (45, None, 10),
 (46, None, 10),
 (47, None, 10),
 (48, None, 10),
 (49, None, 11),
 (50, None, 11),
 (51, None, 11),
 (1001, None, 1001),
 (1002, None, 1001),
 (1003, None, 1001),
 (1004, None, 1002),
 (1005, None, 1002),
 (1006, None, 1002),
 (1007, None, 1003),
 (1008, None, 1003),
 (1009, None, 1003),
 (1010, None, 1003),
 (1011, None, 1003),
 (1012, None, 1003),
 (1013, None, 1004),
 (1014, None, 1004),
 (1015, None, 1004),
 (1016, None, 1004),
 (1017, None, 1004),
 (1018, None, 1004),
 (1019, None, 1005),
 (1020, None, 1005),
 (1021, None, 1005),
 (1022, None, 1005),
 (1023, None, 1005),
 (1024, None, 1005),
 (1025, None, 1006),
 (1026, None, 1006),
 (1027, None, 1006),
 (1028, None, 1006),
 (1029, None, 1006),
 (1030, None, 1006),
 (1031, None, 1007),
 (1032, None, 1007),
 (1033, None, 1007),
 (1034, None, 1007),
 (1035, None, 1007),
 (1036, None, 1007),
 (1037, None, 1008),
 (1038, None, 1008),
 (1039, None, 1008)]

In [328]:
emy = []
for row in c.execute('SELECT distinct cid from cluster where number_of_seat-number_owned >0'):
    emy.append(*row)

In [329]:
emy

[1, 2, 3, 4, 5, 6, 7, 9, 10, 1001, 1003, 1004, 1005, 1006, 1007]

In [275]:
emy = []
for row in c.execute('SELECT * from seat where cluster_id=1'):
    emy.append(list(row))

In [276]:
emy

[[1, None, 1], [2, None, 1], [3, None, 1]]

In [277]:
random.choice(emy)

[3, None, 1]

In [319]:
first_pool = []
for row in c.execute('SELECT distinct cid from cluster where number_of_seat-number_owned >0'):
    first_pool.append(*row)

In [305]:
first_pool

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008]

In [9]:
user_list = []
for row in c.execute('SELECT users.pid, users.full_name, seat.owner_id from users left join seat on users.pid = seat.owner_id where \
                     seat.owner_id is null'):
    user_list.append(row)

In [10]:
user_list

[('1', 'test1', None),
 ('2', 'test2', None),
 ('3', 'test3', None),
 ('4', 'test4', None),
 ('5', 'test5', None),
 ('6', 'test6', None),
 ('7', 'test7', None),
 ('8', 'test8', None),
 ('9', 'test9', None),
 ('10', 'test10', None),
 ('11', 'test11', None),
 ('12', 'test12', None),
 ('13', 'test13', None),
 ('14', 'test14', None),
 ('15', 'test15', None),
 ('16', 'test16', None),
 ('17', 'test17', None),
 ('18', 'test18', None),
 ('19', 'test19', None),
 ('20', 'test20', None),
 ('21', 'test21', None),
 ('22', 'test22', None),
 ('23', 'test23', None),
 ('24', 'test24', None),
 ('25', 'test25', None),
 ('26', 'test26', None),
 ('27', 'test27', None),
 ('28', 'test28', None),
 ('29', 'test29', None),
 ('30', 'test30', None),
 ('31', 'test31', None),
 ('32', 'test32', None),
 ('33', 'test33', None),
 ('34', 'test34', None),
 ('35', 'test35', None),
 ('36', 'test36', None),
 ('37', 'test37', None),
 ('38', 'test38', None),
 ('39', 'test39', None),
 ('40', 'test40', None),
 ('41', 'test41', None),
 ('42', 'test42', None),
 ('43', 'test43', None),
 ('44', 'test44', None),
 ('45', 'test45', None),
 ('46', 'test46', None),
 ('47', 'test47', None),
 ('48', 'test48', None),
 ('49', 'test49', None),
 ('50', 'test50', None)]

In [293]:
a = user_list.pop()

In [295]:
a[0]

'2020-10050'

In [219]:
first_pool

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008]

In [323]:
while user_list:
    a= user_list.pop()
    b= random.choice(first_pool)
    first_pool.remove(b) 
    #a[0],b 활용해서 seat update
    seat_pool = []
    for row in c.execute(f'SELECT * from seat where cluster_id = {b} and owner_id is null'):
        seat_pool.append(row[0])
    selected_seat = random.choice(seat_pool)
    
    c.execute(f'''UPDATE seat SET owner_id ={str(a[0])} WHERE sid={selected_seat}''')
    
    c.execute(f'''UPDATE cluster SET number_owned =number_owned +1 WHERE cid ={b}''')
    
    if not first_pool:
        first_pool = []
        for row in c.execute('SELECT distinct cid from cluster where number_of_seat-number_owned >0'):
            first_pool.append(*row)

In [223]:
not bool(user_list)

False

In [229]:
b= random.choice(first_pool)

In [230]:
b

1006

In [227]:
first_pool.remove(b)

In [228]:
first_pool

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008]

In [239]:
seat_pool = []
for row in c.execute(f'SELECT * from seat where cluster_id = {b} and owner_id is null'):
    seat_pool.append(row[0])

In [240]:
seat_pool

[1025, 1026, 1027, 1028, 1029, 1030]

In [247]:
c.execute(f'''UPDATE cluster SET number_owned = number_owned +1 WHERE cid =10001''')