In [1]:
import csv

In [2]:
usertable = open('usertable.csv','r')
rdr = csv.reader(usertable)
user = []
for row in rdr:
    user.append(tuple(row))

In [3]:
user

[('2020-20826', 'jaehwan lim'),
 ('2020-11111', 'test1'),
 ('2020-11112', 'test2'),
 ('2020-11113', 'test3'),
 ('2020-11114', 'test4'),
 ('2020-11115', 'test5')]

In [4]:
usertable.close()

In [5]:
clustertable = open('clustertable.csv','r')
reader = csv.reader(clustertable)
cluster = []
for row in reader:
    cluster.append(tuple(map(int,row)))

In [6]:
for row in reader:
    cluster.append(tuple(map(int,row)))

In [7]:
cluster

[(1, 6, 0),
 (2, 3, 0),
 (3, 3, 0),
 (4, 6, 0),
 (5, 6, 0),
 (1001, 6, 0),
 (1002, 3, 0)]

In [8]:
clustertable.close()

In [16]:
seattable = open('seattable.csv','r')
reader1= csv.reader(seattable)
seat = []
conv = lambda i : i or None
for row in reader1:
    try:
        seat.append(((int(row[0]),conv(row[1]),int(conv(row[2])))))
    except TypeError:
        seat.append(((int(row[0]),conv(row[1]),conv(row[2]))))

In [10]:
cluster[0]= None

In [17]:
int(seat[0][1])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [18]:
seat

[(1, None, None),
 (2, None, None),
 (3, None, None),
 (4, None, None),
 (5, None, None),
 (1001, None, None),
 (1002, None, None),
 (1003, '2', 1)]

In [1]:
import sqlite3
import csv

In [2]:
conn = sqlite3.connect('test.db')

In [3]:
c = conn.cursor()

In [4]:
import random

In [5]:
emy1 = []
for row in c.execute('SELECT * from cluster'):
    emy1.append(row)

In [6]:
emy1

[(1, 3, 2),
 (2, 3, 3),
 (3, 6, 2),
 (4, 6, 2),
 (5, 6, 3),
 (6, 6, 3),
 (7, 3, 3),
 (8, 3, 3),
 (9, 6, 3),
 (10, 6, 2),
 (11, 3, 3),
 (1001, 3, 3),
 (1002, 3, 3),
 (1003, 6, 2),
 (1004, 6, 3),
 (1005, 6, 2),
 (1006, 6, 3),
 (1007, 6, 3),
 (1008, 3, 2)]

In [7]:
emy2 = []
for row in c.execute('SELECT * from seat'):
    emy2.append(row)

In [8]:
emy2

[(1, '18', 1),
 (2, None, 1),
 (3, '37', 1),
 (4, '39', 2),
 (5, '13', 2),
 (6, '7', 2),
 (7, None, 3),
 (8, '19', 3),
 (9, '35', 3),
 (10, None, 3),
 (11, None, 3),
 (12, None, 3),
 (13, None, 4),
 (14, None, 4),
 (15, '17', 4),
 (16, None, 4),
 (17, '49', 4),
 (18, None, 4),
 (19, None, 5),
 (20, None, 5),
 (21, '20', 5),
 (22, '47', 5),
 (23, None, 5),
 (24, '8', 5),
 (25, '40', 6),
 (26, '30', 6),
 (27, None, 6),
 (28, None, 6),
 (29, '12', 6),
 (30, None, 6),
 (31, '46', 7),
 (32, '16', 7),
 (33, '9', 7),
 (34, '31', 8),
 (35, '36', 8),
 (36, '4', 8),
 (37, '45', 9),
 (38, None, 9),
 (39, None, 9),
 (40, '21', 9),
 (41, None, 9),
 (42, '11', 9),
 (43, None, 10),
 (44, '50', 10),
 (45, None, 10),
 (46, None, 10),
 (47, None, 10),
 (48, '14', 10),
 (49, '10', 11),
 (50, '38', 11),
 (51, '22', 11),
 (1001, '6', 1001),
 (1002, '25', 1001),
 (1003, '48', 1001),
 (1004, '5', 1002),
 (1005, '28', 1002),
 (1006, '33', 1002),
 (1007, None, 1003),
 (1008, '32', 1003),
 (1009, '26', 1003),
 (1010, None, 1003),
 (1011, None, 1003),
 (1012, None, 1003),
 (1013, '23', 1004),
 (1014, '2', 1004),
 (1015, None, 1004),
 (1016, '44', 1004),
 (1017, None, 1004),
 (1018, None, 1004),
 (1019, None, 1005),
 (1020, None, 1005),
 (1021, '27', 1005),
 (1022, '43', 1005),
 (1023, None, 1005),
 (1024, None, 1005),
 (1025, None, 1006),
 (1026, '34', 1006),
 (1027, None, 1006),
 (1028, '24', 1006),
 (1029, None, 1006),
 (1030, '3', 1006),
 (1031, None, 1007),
 (1032, '1', 1007),
 (1033, '29', 1007),
 (1034, None, 1007),
 (1035, None, 1007),
 (1036, '41', 1007),
 (1037, None, 1008),
 (1038, '15', 1008),
 (1039, '42', 1008)]

In [9]:
emy = []
for row in c.execute('SELECT distinct cid from cluster where number_of_seat-number_owned >0'):
    emy.append(*row)

In [10]:
emy

[1, 3, 4, 5, 6, 9, 10, 1003, 1004, 1005, 1006, 1007, 1008]

In [13]:
emy = []
for row in c.execute('SELECT * from users'):
    emy.append(list(row))

In [14]:
emy

[['1', 'test1'],
 ['2', 'test2'],
 ['3', 'test3'],
 ['4', 'test4'],
 ['5', 'test5'],
 ['6', 'test6'],
 ['7', 'test7'],
 ['8', 'test8'],
 ['9', 'test9'],
 ['10', 'test10'],
 ['11', 'test11'],
 ['12', 'test12'],
 ['13', 'test13'],
 ['14', 'test14'],
 ['15', 'test15'],
 ['16', 'test16'],
 ['17', 'test17'],
 ['18', 'test18'],
 ['19', 'test19'],
 ['20', 'test20'],
 ['21', 'test21'],
 ['22', 'test22'],
 ['23', 'test23'],
 ['24', 'test24'],
 ['25', 'test25'],
 ['26', 'test26'],
 ['27', 'test27'],
 ['28', 'test28'],
 ['29', 'test29'],
 ['30', 'test30'],
 ['31', 'test31'],
 ['32', 'test32'],
 ['33', 'test33'],
 ['34', 'test34'],
 ['35', 'test35'],
 ['36', 'test36'],
 ['37', 'test37'],
 ['38', 'test38'],
 ['39', 'test39'],
 ['40', 'test40'],
 ['41', 'test41'],
 ['42', 'test42'],
 ['43', 'test43'],
 ['44', 'test44'],
 ['45', 'test45'],
 ['46', 'test46'],
 ['47', 'test47'],
 ['48', 'test48'],
 ['49', 'test49'],
 ['50', 'test50']]

In [15]:
random.choice(emy)

['26', 'test26']

In [16]:
first_pool = []
for row in c.execute('SELECT distinct cid from cluster where number_of_seat-number_owned >0'):
    first_pool.append(*row)

In [17]:
first_pool

[1, 3, 4, 5, 6, 9, 10, 1003, 1004, 1005, 1006, 1007, 1008]

In [22]:
user_list = []
for row in c.execute('SELECT users.pid, users.full_name, seat.owner_id from users left join seat on users.pid = seat.owner_id where \
                     seat.owner_id is null'):
    user_list.append(row)

In [23]:
user_list

[('1', 'test1', '1'),
 ('2', 'test2', '2'),
 ('3', 'test3', '3'),
 ('4', 'test4', '4'),
 ('5', 'test5', '5'),
 ('6', 'test6', '6'),
 ('7', 'test7', '7'),
 ('8', 'test8', '8'),
 ('9', 'test9', '9'),
 ('10', 'test10', '10'),
 ('11', 'test11', '11'),
 ('12', 'test12', '12'),
 ('13', 'test13', '13'),
 ('14', 'test14', '14'),
 ('15', 'test15', '15'),
 ('16', 'test16', '16'),
 ('17', 'test17', '17'),
 ('18', 'test18', '18'),
 ('19', 'test19', '19'),
 ('20', 'test20', '20'),
 ('21', 'test21', '21'),
 ('22', 'test22', '22'),
 ('23', 'test23', '23'),
 ('24', 'test24', '24'),
 ('25', 'test25', '25'),
 ('26', 'test26', '26'),
 ('27', 'test27', '27'),
 ('28', 'test28', '28'),
 ('29', 'test29', '29'),
 ('30', 'test30', '30'),
 ('31', 'test31', '31'),
 ('32', 'test32', '32'),
 ('33', 'test33', '33'),
 ('34', 'test34', '34'),
 ('35', 'test35', '35'),
 ('36', 'test36', '36'),
 ('37', 'test37', '37'),
 ('38', 'test38', '38'),
 ('39', 'test39', '39'),
 ('40', 'test40', '40'),
 ('41', 'test41', '41'),
 ('42', 'test42', '42'),
 ('43', 'test43', '43'),
 ('44', 'test44', '44'),
 ('45', 'test45', '45'),
 ('46', 'test46', '46'),
 ('47', 'test47', '47'),
 ('48', 'test48', '48'),
 ('49', 'test49', '49'),
 ('50', 'test50', '50')]

In [293]:
a = user_list.pop()

In [295]:
a[0]

'2020-10050'

In [219]:
first_pool

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008]

In [323]:
while user_list:
    a= user_list.pop()
    b= random.choice(first_pool)
    first_pool.remove(b) 
    #a[0],b 활용해서 seat update
    seat_pool = []
    for row in c.execute(f'SELECT * from seat where cluster_id = {b} and owner_id is null'):
        seat_pool.append(row[0])
    selected_seat = random.choice(seat_pool)
    
    c.execute(f'''UPDATE seat SET owner_id ={str(a[0])} WHERE sid={selected_seat}''')
    
    c.execute(f'''UPDATE cluster SET number_owned =number_owned +1 WHERE cid ={b}''')
    
    if not first_pool:
        first_pool = []
        for row in c.execute('SELECT distinct cid from cluster where number_of_seat-number_owned >0'):
            first_pool.append(*row)

In [223]:
not bool(user_list)

False

In [229]:
b= random.choice(first_pool)

In [230]:
b

1006

In [227]:
first_pool.remove(b)

In [228]:
first_pool

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008]

In [239]:
seat_pool = []
for row in c.execute(f'SELECT * from seat where cluster_id = {b} and owner_id is null'):
    seat_pool.append(row[0])

In [240]:
seat_pool

[1025, 1026, 1027, 1028, 1029, 1030]

In [247]:
c.execute(f'''UPDATE cluster SET number_owned = number_owned +1 WHERE cid =10001''')